<div class="profile">
<!-- Top profile picture and banner -->
  <div class="background-profile">
    <div class="profile-card">
      <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFZ7Zq70rdi_Q/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=CtCmGgbjDzvC6xw6StxBbwMrBde2KCRPwnuUZX2Beb4">
      <div class="profile-card-infos">
        <h2><%= @user.email %></h2>
        <% if @user == current_user %>
          <%= link_to edit_user_registration_path(@user), class:"no-decoration" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <!--  -->
  <h3 class="mt-3 text-align-center">Recommendations</h3>
  <div class="recommendation d-flex">
    <div class="row">
      <% @user.recommended_movies.first(3).each do |movie| %>
        <div class="col-4 mt-3">
          <% movie_details = movie.get_details %>
          <%= render "movies/card_id", movie_details: movie_details %>
        </div>
          <%= render "movies/card_collapse", movie_details: movie_details %>
      <% end %>
    </div>
  </div>


  <div class="">

    <ul class="mt-4 nav nav-pills nav-fill bg-white" id="pills-tab" role="tablist">
      <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile active" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab" aria-controls="pills-stats" aria-selected="true">Stats</a>
      </li>
      <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile" id="pills-to-watch-tab" data-toggle="pill" href="#pills-to-watch" role="tab" aria-controls="pills-to-watch" aria-selected="true">To watch</a>
      </li>
      <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile" id="pills-liked-2-tab" data-toggle="pill" href="#pills-liked-2" role="tab" aria-controls="pills-liked-2" aria-selected="false">Liked Movies</a>
      </li>
<!--       <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile" id="pills-liked-tab" data-toggle="pill" href="#pills-liked" role="tab" aria-controls="pills-liked" aria-selected="false">Liked Movies</a>
      </li> -->
      <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile" id="pills-disliked-tab" data-toggle="pill" href="#pills-disliked" role="tab" aria-controls="pills-disliked" aria-selected="false">Disliked Movies</a>
      </li>
      <li class="nav-item nav-item-profile">
        <a class="nav-link nav-link-profile" id="pills-friends-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-controls="pills-friends" aria-selected="true">Friends</a>
      </li>

    </ul>
  </div>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
      Stats
    </div>

    <div class="tab-pane fade show" id="pills-to-watch" role="tabpanel" aria-labelledby="pills-to-watch-tab">
      To watch
    </div>


    <div class="tab-pane fade" id="pills-liked-2" role="tabpanel" aria-labelledby="pills-liked-2-tab">
      <div class="ia-container">
      <figure>
        <% omdb_id = @user.liked_movies.first.omdb_id %>
        <% id = "0"*(7 - omdb_id.to_s.length) + omdb_id.to_s %>
        <% url = "http://www.omdbapi.com/?i=tt#{id}&apikey=adf1f2d7"%>
        <% movie_api = JSON.parse(open(url).read) %>
        <img src=<%= movie_api['Poster'] %>>
        <input type="radio" name="radio-set" checked="checked" />
        <figcaption><span><%= movie_api['Title'] %></span></figcaption>
        <% @user.liked_movies[1..15].each do |movie| %>
          <figure>
          <% omdb_id = movie.omdb_id %>
          <% id = "0"*(7 - omdb_id.to_s.length) + omdb_id.to_s %>
          <% url = "http://www.omdbapi.com/?i=tt#{id}&apikey=adf1f2d7"%>
          <% movie_api = JSON.parse(open(url).read) %>
          <img src=<%= movie_api['Poster'] %>>
          <input type="radio" name="radio-set" checked="checked" />
          <figcaption><span><%= movie_api['Title'] %></span></figcaption>
        <% end %>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
        </figure>
      </figure>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-liked" role="tabpanel" aria-labelledby="pills-liked-tab">
      <div class="liked_movies d-flex">
        <div class="row">
          <% @user.liked_movies.first(20).each do |movie| %>
            <div class="col-4 mt-3">
              <%= movie.omdb_id %>
              <% movie_details = movie.get_details %>
              <%= render "movies/card_id", movie_details: movie_details %>
            </div>
              <%= render "movies/card_collapse.html.erb", movie_details: movie_details %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-disliked" role="tabpanel" aria-labelledby="pills-disliked-tab">
      <div class="disliked_movies d-flex">
        <div class="row">
          <% @user.disliked_movies.first(20).each do |movie| %>
            <% movie_details = movie.get_details %>
            <div class="col-4 mt-3">
              <%= render "movies/card_id", movie_details: movie_details %>
            </div>
              <%= render "movies/card_collapse.html.erb", movie_details: movie_details %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">
      Friends
    </div>

  </div>
</div>
