<% require 'open-uri' %>
<% id = "0" * (7 - omdb_id.to_s.length) + omdb_id.to_s %>
<% url = "http://www.omdbapi.com/?i=tt#{id}&apikey=adf1f2d7"%>
<% movie = JSON.parse(open(url).read) %>

<div id="<%= movie['imdbID'] %>" class='moviecard d-flex flex-row'>
  <div class='moviecard_left'>
    <img src=<%= movie['Poster'] %>>
  </div>
  <div class='moviecard_right'>
    <div class='card_right__action pt-1'>
        <%= link_to liking_movie_path(movie['imdbID']), method: :post, remote: true do %>
          <% if current_user.likes?(Movie.find_by(omdb_id: omdb_id)) %>
            <i class="fas fa-thumbs-up"></i>
          <% else %>
            <i class="far fa-thumbs-up"></i>
          <% end %>
        <% end %>
      <%= link_to disliking_movie_path(movie['imdbID']), method: :post, remote: true do %>
        <% if current_user.dislikes?(Movie.find_by(omdb_id: omdb_id)) %>
          <i class="fas fa-thumbs-down"></i>
        <% else %>
          <i class="far fa-thumbs-down"></i>
        <% end %>
      <% end %>
      <%= link_to saving_movie_path(movie['imdbID']), method: :post, remote: true do %>
        <% if current_user.bookmarks?(Movie.find_by(omdb_id: omdb_id)) %>
          <i class="fas fa-bookmark"></i>
        <% else %>
          <i class="far fa-bookmark"></i>
        <% end %>
      <% end %>
      <%= link_to blacklisting_movie_path(movie['imdbID']), method: :post, remote: true do %>
        <% if current_user.hides?(Movie.find_by(omdb_id: omdb_id)) %>
          <i class="fas fa-eye-slash"></i>
        <% else %>
          <i class="far fa-eye-slash"></i>
        <% end %>
      <% end %>



    </div>
    <div class="moviecard_right__text">
      <h4><%= movie['Title'] %></h4>
      <div class='moviecard_right__details'>
        <span><%= movie['Year'] %></span>
        <span><%= movie['Runtime'] %></span>
        <span><%= movie['Genre'] %></span>
      </div>
      <!-- $ -->

      <div class='moviecard_right__review mt-2'>
        <p><%= movie['Plot'] %></p>
      </div>
    </div>
  </div>
  <div class='moviecard_chevron' data-toggle="collapse" href="#collapse-movie-<%= movie['imdbID'] %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-chevron-down"></i>
  </div>
</div>
