
<div class="collapse collapse-card " id="collapse-movie-<%= movie_details['imdbID'] %>" aria-labelledby="collapse-movie-<%= movie_details['imdbID'] %>" data-parent="#movies">
  <div class="collaspe_header d-flex flex-row justify-content-between mb-3">
    <div class="movie_card" id="bright">
      <div class="info_section">
        <div class="movie_header">
          <img class="locandina" src=<%= movie_details['Poster'] %>/>
          <h1><a href="/movies/<%= movie.tt_id %>"><%= movie_details['Title'] %></a></h1>
          <h4><%= movie_details['Year'] %>, <%= movie_details['Director'] %></h4>
          <span class="minutes"><%= movie_details['Runtime'] %></span>
          <p class="type"><%= movie_details['Genre'] %></p>
        </div>
        <div class="movie_desc">
          <p class="text">
            <%= movie_details['Plot'] %>
          </p>
        </div>
        <div class="movie_social">
          <ul>
            <%= link_to liking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.likes?(movie) %>
                <li><i class="fas fa-thumbs-up "><span>  <%= movie.liked_by_count %></span></i></li>
              <% else %>
                <li><i class="far fa-thumbs-up "><span>  <%= movie.liked_by_count %></span></i></li>
              <% end %>
            <% end %>
            <%= link_to disliking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.dislikes?(movie) %>
                <li><i class="fas fa-thumbs-down "><span>  <%= movie.disliked_by_count %></span></i></li>
              <% else %>
                <li><i class="far fa-thumbs-down "><span>  <%= movie.disliked_by_count %></span></i></li>
              <% end %>
            <% end %>
            <%= link_to saving_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.bookmarks?(movie) %>
                <li><i class="fas fa-bookmark "></i></li>
              <% else %>
                <li><i class="far fa-bookmark "></i></li>
              <% end %>
            <% end %>
            <%= link_to blacklisting_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.hides?(movie) %>
                <li><i class="fas fa-eye-slash "></i></li>
              <% else %>
                <li><i class="far fa-eye-slash "></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="blur_back bright_back" style="background: url(<%= movie_details['Poster'] %>); background-size: cover; background-position: center;"></div>
    </div>
  </div>
</div>


