

<div id="<%= movie_details['imdbID'] %>" class='moviecard d-flex flex-row'>
  <div class='moviecard_left'>
    <img src=<%= movie_details['Poster'] %>>
  </div>
  <div class='moviecard_right'>
    <div class='card_right__action pt-1'>
        <%= link_to liking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
          <% if current_user.likes?(movie) %>
            <i class="fas fa-thumbs-up"></i>
          <% else %>
            <i class="far fa-thumbs-up"></i>
          <% end %>
        <% end %>
      <%= link_to disliking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
        <% if current_user.dislikes?(movie) %>
          <i class="fas fa-thumbs-down"></i>
        <% else %>
          <i class="far fa-thumbs-down"></i>
        <% end %>
      <% end %>
      <%= link_to saving_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
        <% if current_user.bookmarks?(movie) %>
          <i class="fas fa-bookmark"></i>
        <% else %>
          <i class="far fa-bookmark"></i>
        <% end %>
      <% end %>
      <%= link_to blacklisting_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
        <% if current_user.hides?(movie) %>
          <i class="fas fa-eye-slash"></i>
        <% else %>
          <i class="far fa-eye-slash"></i>
        <% end %>
      <% end %>



    </div>
    <div class="moviecard_right__text">
      <h4><%= movie_details['Title'] %></h4>
      <div class='moviecard_right__details'>
        <span><%= movie_details['Year'] %></span>
        <span><%= movie_details['Runtime'] %></span>
        <span><%= movie_details['Genre'] %></span>
      </div>
      <!-- $ -->

      <div class='moviecard_right__review mt-2'>
        <p><%= movie_details['Plot'] %></p>
      </div>
    </div>
  </div>
  <div class='moviecard_chevron' data-toggle="collapse" href="#collapse-movie-<%= movie_details['imdbID'] %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-chevron-down"></i>
  </div>
</div>

