<% movie_details = Movie.find_by(omdb_id: @id_integer).get_details %>
<div class="container-show-movie" id="on-show-movie">
  <div class="movie-infos">
    <div class="movie-infos-top">
      <div class="poster">
        <img src=<%= @movie['Poster'] %>>
      </div>

      <div class="action-title">

        <div class="actions">

          <% if current_user != nil %>

            <%= link_to liking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.likes?(Movie.find_by(omdb_id: @id_integer)) %>
                <i class="fas fa-thumbs-up"></i>
              <% else %>
                <i class="far fa-thumbs-up"></i>
              <% end %>
            <% end %>
            <%= link_to disliking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.dislikes?(Movie.find_by(omdb_id: @id_integer)) %>
                <i class="fas fa-thumbs-down"></i>
              <% else %>
                <i class="far fa-thumbs-down"></i>
              <% end %>
            <% end %>
            <%= link_to saving_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.bookmarks?(Movie.find_by(omdb_id: @id_integer)) %>
                <i class="fas fa-bookmark"></i>
              <% else %>
                <i class="far fa-bookmark"></i>
              <% end %>
            <% end %>
            <%= link_to blacklisting_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
              <% if current_user.hides?(Movie.find_by(omdb_id: @id_integer)) %>
                <i class="fas fa-eye-slash"></i>
              <% else %>
                <i class="far fa-eye-slash"></i>
              <% end %>
            <% end %>

          <% else %>

            <div class="action-item">
              <%= link_to new_user_session_path do  %>
                <i class="far fa-thumbs-up"></i>
                <span>Like</span>
              <% end %>
            </div>
            <div class="action-item">
              <%= link_to new_user_session_path do  %>
                <i class="far fa-thumbs-down"></i>
                <span>Dislike</span>
              <% end %>
            </div>
            <div class="action-item">
              <%= link_to new_user_session_path do  %>
                <i class="far fa-bookmark"></i>
                <span>Later</span>
              <% end %>
            </div>
            <div class="action-item">
              <%= link_to new_user_session_path do  %>
                <i class="fas fa-minus-circle"></i>
                <span>Never</span>
              <% end %>
            </div>

          <% end %>
        </div>


        <div class="movie-description">
          <h2><%= @movie['Title']%> (<%= @movie['Year']%>) </h2>
          <div class="infos2">
            <span><strong><%= @movie['Genre'] %></strong></span>
            <span><strong><%= @movie['Year'] %></strong></span>
            <span><strong><%= @movie['Runtime'] %></strong></span>
          </div>
          <p><%= @movie['Plot'] %></p>
          <div>
            <p><strong>Director: </strong><%= @movie['Director'] %></p>
            <p><strong>Casting: </strong><%= @movie['Actors'] %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="movie-trailer">
      <iframe src="https://www.youtube.com/embed/7kSuas6mRpk?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="movie-liked-like">
    <h2 class="similar-to">Content Like :</h2>
    <div class="wrapper">
      <ul class="stage">
        <% @recommandations.each do |recommandation|  %>
        <% movie = recommandation.get_details %>
          <li class="scene">
          <div class="movie">
            <div class="poster">
              <img src=<%= movie['Poster'] %>>
            </div>
            <div class="info">
              <header>
                <h1><%= movie['Title'] %></h1>
                <span class="genre"><%= movie['Genre']%></span>
                <span class="year"><%= movie['Year']%></span>
                <span class="duration"><%= movie['Runtime'] %></span>
              </header>
              <p>
                <%= movie['Plot'] %>
              </p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
