<div class="container">
  <% movie_details = Movie.find_by(omdb_id: @id_integer).get_details %>
  <div class="banner-trailer">
    <% url =URI.escape("https://www.googleapis.com/youtube/v3/search?part=snippet&q=#{@movie['Title']} trailer&key=AIzaSyA0NRQKW1AJCn_TvKHW90PeCryYn3iRLpY") %>
    <% trailer = JSON.parse(open(url).read) %>
    <% video_id = trailer['items'][0]['id']['videoId'] %>
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/<%= video_id %>"
      allowfullscreen="allowfullscreen"
      mozallowfullscreen="mozallowfullscreen"
      msallowfullscreen="msallowfullscreen"
      oallowfullscreen="oallowfullscreen"
      webkitallowfullscreen="webkitallowfullscreen">
    </iframe>
  </div>
  <div class="container-show-movie" id="on-show-movie">
    <div class="movie-infos">
      <div class="movie-infos-top">
        <div class="poster">
          <img src=<%= @movie['Poster'] %>>
        </div>
        <div class="action-title">

          <div class="actions">
            <% if current_user != nil %>
              <%= link_to liking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
                <% if current_user.likes?(Movie.find_by(omdb_id: @id_integer)) %>
                  <i class="fas fa-thumbs-up"></i>
                  <span>Like</span>
                <% else %>
                  <i class="far fa-thumbs-up"></i>
                  <span>Like</span>
                <% end %>
              <% end %>
              <%= link_to disliking_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
                <% if current_user.dislikes?(Movie.find_by(omdb_id: @id_integer)) %>
                  <i class="fas fa-thumbs-down"></i>
                  <span>Dislike</span>
                <% else %>
                  <i class="far fa-thumbs-down"></i>
                  <span>Dislike</span>
                <% end %>
              <% end %>
              <%= link_to saving_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
                <% if current_user.bookmarks?(Movie.find_by(omdb_id: @id_integer)) %>
                  <i class="fas fa-bookmark"></i>
                  <span>Later</span>
                <% else %>
                  <i class="far fa-bookmark"></i>
                  <span>Later</span>
                <% end %>
              <% end %>
              <%= link_to blacklisting_movie_path(movie_details['imdbID']), method: :post, remote: true do %>
                <% if current_user.hides?(Movie.find_by(omdb_id: @id_integer)) %>
                  <i class="fas fa-eye-slash"></i>
                  <span>Never</span>
                <% else %>
                  <i class="far fa-eye-slash"></i>
                  <span>Never</span>
                <% end %>
              <% end %>
            <% else %>
              <div class="action-item">
                <%= link_to new_user_session_path do  %>
                  <i class="far fa-thumbs-up"></i>
                  <span>Like</span>
                <% end %>
              </div>
              <div class="action-item">
                <%= link_to new_user_session_path do  %>
                  <i class="far fa-thumbs-down"></i>
                  <span>Dislike</span>
                <% end %>
              </div>
              <div class="action-item">
                <%= link_to new_user_session_path do  %>
                  <i class="far fa-bookmark"></i>
                  <span>Later</span>
                <% end %>
              </div>
              <div class="action-item">
                <%= link_to new_user_session_path do  %>
                  <i class="fas fa-minus-circle"></i>
                  <span>Never</span>
                <% end %>
              </div>
            <% end %>
          </div>


          <div class="movie-description">
            <h2><%= @movie['Title']%> (<%= @movie['Year']%>) </h2>
            <div class="infos2">
              <span><strong><%= @movie['Genre'] %></strong></span>
              <span><strong><%= @movie['Year'] %></strong></span>
              <span><strong><%= @movie['Runtime'] %></strong></span>
            </div>
            <p><%= @movie['Plot'] %></p>
            <div>
              <p><strong>Director: </strong><%= @movie['Director'] %></p>
              <p><strong>Casting: </strong><%= @movie['Actors'] %></p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="movie-liked-like">
      <h2 class="similar-to">Movie like : <strong><%= @movie['Title'] %></strong></h2>
      <div class="wrapper">
        <ul class="stage">
          <% @recommandations.each do |recommandation|  %>
          <% movie = recommandation.get_details %>
            <li class="scene">
            <div class="movie">
              <div class="poster">
                <img src=<%= movie['Poster'] %>>
              </div>
              <div class="info">
                <header>
                  <h1><%= movie['Title'] %></h1>
                  <span class="genre"><%= movie['Genre']%> |</span>
                  <span class="year"><%= movie['Year']%> |</span>
                  <span class="duration"><%= movie['Runtime'] %></span>
                  <p class="movie-plot"><%= movie['Plot'] %></p>
                  <p><strong>Director: </strong><%= @movie['Director'] %></p>
                  <p><strong>Casting: </strong><%= @movie['Actors'] %></p>
                </header>
                <div class="movie-trailer">

                  <% url =URI.escape("https://www.googleapis.com/youtube/v3/search?part=snippet&q=#{movie['Title']} trailer&key=AIzaSyA0NRQKW1AJCn_TvKHW90PeCryYn3iRLpY") %>
                  <% trailer = JSON.parse(open(url).read) %>
                  <% video_id = trailer['items'][0]['id']['videoId'] %>
                  <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/<%= video_id %>"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen"
                    oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen">
                  </iframe>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
