<div class="footer">
  <div class="footer-links">
    <%= link_to "", "https://github.com/EdwinNgn/safarent", class:"fab fa-github", target: :_blank%>
    <%= link_to "", "https://www.instagram.com/angele_vl/?hl=en", class:"fab fa-instagram", target: :_blank%>
    <%= link_to "", "https://www.facebook.com/angeleouenpoudre/", class:"fab fa-facebook", target: :_blank%>
    <%= link_to "", "https://twitter.com/realDonaldTrump?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor", class:"fab fa-twitter", target: :_blank%>
    <%= link_to "", "https://www.linkedin.com/in/rose-moulan/", class:"fab fa-linkedin", target: :_blank%>
  </div>
  <div class="info">
    <%= link_to "About us", "https://www.australiazoo.com.au/about-us/", class:"info-item"%>
    <%= link_to "Contact", "http://www.zoo-la-fleche.com/pratique/contact/", class:"info-item"%>
  </div>
  <div class="footer-copyright">
    All fucking rights reserved with <i class="fas fa-heart"></i> to Safarent
  </div>
</div>
