<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between <%= 'navbar-transparent' if params[:action] == "home"  %>">
  <div class="d-flex justify-content-center align-items-center logo">
    <%= link_to root_path do %>
      <%= image_tag "ScreenMe1.png", alt: "alttext", class: "logo-navbar" %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "", root_path, class: "nav-link nav-link-navbar fas fa-bell action-btn #{'white-item-navbar' if params[:action] == "home"}" %>
        </li>
        <li class="nav-item">
          <%= link_to "", root_path, class: "nav-link nav-link-navbar fas fa-users action-btn #{'white-item-navbar' if params[:action] == "home"}" %>
        </li>
        <li class="nav-item">
          <% if current_user.first_name %>
            <%= link_to "#{current_user.first_name}", profile_path(current_user), class: "nav-link name #{'white-item-navbar' if params[:action] == "home"}" %>
          <% else %>
            <%= link_to "#{current_user.email}", profile_path(current_user), class: "nav-link name #{'white-item-navbar' if params[:action] == "home"}" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <% if !current_user.avatar.attachment.nil? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar-bordered #{'white-item-navbar' if params[:action] == "home"}", alt: "avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "", class:"fas fa-user-tie #{'white-item-navbar' if params[:action] == "home"}", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "View my profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit My profile", edit_user_registration_path , class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>






      <% else %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class:"nav-link nav-link-navbar name #{'white-item-navbar' if params[:action] == "home"}" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path , class:"nav-link nav-link-navbar name #{'white-item-navbar' if params[:action] == "home"}" %>
        </li>
        <li class="nav-item ninja">
          <%= link_to "", new_user_session_path, class:"fas fa-user-ninja avatar-navbar #{'white-item-navbar' if params[:action] == "home"}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
